<a href="https://colab.research.google.com/github/affishh/python_assignment/blob/main/python_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#1). Control flow with ''if'', "elif" and "else"
x = "afrin banu"
if x[6:] == "banu":
  print("the last name  is banu")
elif x == " ":
  print("the name is empty string")
else:
  print("the steing passed is not afrin")

the last name  is banu

In [10]:
#2. Defining a function with  "def" and returning with "return"
def addition(a, b):
    return a + b

a= addition(10,30)
print(a)

40

In [11]:
#3). Using loops "for", "in", "range"
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
#4). Defining a Class with "class" keyword
class Bank:
	def __init__(self, balance):
        	self.balance = balance

	def  get_balance(self):
		print("The balance remaining is:", self.balance)

bank = Bank(1000)
bank.get_balance()

The balance remaining is: 1000

In [13]:
#5. Exception Handling with "try", "except"
try:
  result = 10/0
except ZeroDivisionError:
  print("Error: Division by zero is not allowed...")

Error: Division by zero is not allowed...

In [16]:
import os
import math
print(os.getcwd)
area = math.pi * 6 **2
print("The area is",area)

<built-in function getcwd>
The area is 113.09733552923255

In [18]:
#mutable objects
my_list = [1,3,3]
my_list[1] = 2
print(my_list)

[1, 2, 3]

In [19]:
dicts = {"name": "john", "age":30, "city":"new york"}
dicts["age"] = 25
print(dicts)

{'name': 'john', 'age': 25, 'city': 'new york'}

In [20]:
sets = {1,2,3,4,5}
sets.add(6)
print(sets)

{1, 2, 3, 4, 5, 6}

**Immutable Objects**

In [21]:
# Integer example
my_int = 5
# Trying to modify an integer is not possible, it's a new assignment
my_int = my_int + 1
print(my_int)

6

In [22]:
# String example
my_str = "Hello"
# Trying to modify a string is not possible, it's a new assignment
my_str = my_str + " World"
print(my_str)

Hello World

In [24]:
my_tuple = (1, 2, 3)
my_tuple[1]= 4

TypeError: 'tuple' object does not support item assignment

**Arithmetic** **Operators**

In [25]:
a = 10
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

15
5
50
2.0
0
100000
2

**Comparison** **Operators**

In [27]:
print( a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

**Logical Operators**

In [28]:
print( a > b and a < b)
print( a > b or a < b)
print(not (a > b))

False
True
False

**Assignment Operators**

In [30]:
x = 5
# Addition Assignment
x +=2
print(x)

7

In [31]:
#Subtraction Assignment
x -= 2
print(x)

5

In [32]:
# Multiplication Assignment
x *= 2
print(x)  # Output: 12

10

In [33]:
# Division Assignment
x /= 2
print(x)  # Output: 6.0

5.0

**Bitwise Operators**

In [35]:
#Logical AND operator
x = 11
y = 5
print(x&y)

1

In [36]:
#logical OR operator
print(x | y)

15

In [37]:
#Logical XOR operator
print(x ^ y)

14

In [38]:
#Logical NOT operator
print(~x)

-12

In [39]:
#Bitwise Right shift
print(x >> 1)

5

In [40]:
#Bitwiaw Left shift
print(x << 1)

22

**Implicit type casting**

In [42]:
num1 = 10
num2 = 5.8
num = num1 + num2
print(type(num))

<class 'float'>

**Explicit Type Casting**

In [43]:
float_num = 10.6
print(int(float_num))

10

In [44]:
str_num = "4.3"
print(float(str_num))

4.3

**Conditional statements**

In [45]:
# If statement
x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")

x is less than or equal to 10

In [46]:
# If-else statement
age = 25
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [47]:
# If-elif-else statement
grade = 85
if grade >= 90:
    print("A grade")
elif grade >= 80:
    print("B grade")
elif grade >= 70:
    print("C grade")
else:
    print("F grade")

B grade

In [49]:
# Nested if statements
x = 5
y = 10
if x > 0:
    if y > 5:
        print("Both x and y are positive and y is greater than 5")
    else:
	    print("x is positive but y is not greater than 5")
else:
    print("x is not positive")

Both x and y are positive and y is greater than 5

**Different types of loops in Python**

In [50]:
# For loop example
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [51]:
# While loop example
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [52]:
# Nested loop example
colors = ["red", "green", "blue"]
shapes = ["circle", "square", "triangle"]
for color in colors:
    for shape in shapes:
        print(f"{color} {shape}")

red circle
red square
red triangle
green circle
green square
green triangle
blue circle
blue square
blue triangle

In [53]:
#Loop Control Statements
# Break statement example
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [54]:
# Continue statement example
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [55]:
# Pass statement example
for i in range(5):
    pass
    print(i)

0
1
2
3
4