**1). Write a code to create a string with your name and print it**

In [ ]:
name = "afrin"
print(name)

afrin

**2). Write a code to find the length of the string "Hello World"**

In [ ]:
string = "Hello World"
length = len(string)
print("The length of the string is", length)

The length of the string is 11

**3) Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

**4) Write a code to convert the string "hello" to uppercase**

In [ ]:
string = "hello"
uppercase_string = string.upper()
print("String in upper case:", uppercase_string)

String in upper case: HELLO

**5) Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

**6) Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

**7)  Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

**10) Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
my_list = [10,20,30,40,50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

**11) Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

**12)  . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [ ]:
my_tuple =('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

**13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [ ]:
my_tuple = (10, 20, 5, 15)
min_no = min(my_tuple)
print("The minimum number in the tuple is", min_no)

The minimum number in the tuple is 5

**14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_ = my_tuple.index('cat')
print("The index of the element 'cat' is", index_)

The index of the element 'cat' is 1

**15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
my_tuple = ("orange", "banana", "kiwi")
if "kiwi" in my_tuple:
  print("Kiwi is present in the tuple")
else:
  print("Kiwi doesnt exists in the tuple")

Kiwi is present in the tuple

**16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

**17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

**18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(f'The union of the sets : {my_set1},{my_set2}, is :{my_set1.union(my_set2)}')

The union of the sets : {1, 2, 3},{3, 4, 5}, is :{1, 2, 3, 4, 5}

**20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
my_set1 = {1,2,3}
my_set2 = {2,3,4}
inter_sets = my_set1.intersection(my_set2)
print(f'the intersection of two set: {my_set1}, {my_set2}, is:{inter_sets}')

the intersection of two set: {1, 2, 3}, {2, 3, 4}, is:{2, 3}

**21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [ ]:
my_dict = {"name": "afrin", "age": 22, "city": "bangalore"}
print(my_dict)

{'name': 'afrin', 'age': 22, 'city': 'bangalore'}

**22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
my_dict = {'name':'John', 'age':25}
my_dict.update({"country" : "USA"})
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
my_dict =  {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

**24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("city exists in the dictionary")
else:
  print("city doesnt exists in the dictionary")

city exists in the dictionary

**26) Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {"name": "afrin", "age": 22, "city": "bangalore"}
print(f'List is:{my_list}, Tuple is: {my_tuple}, Dictionary is: {my_dict}')

List is:[1, 2, 3, 4, 5], Tuple is: (1, 2, 3, 4, 5), Dictionary is: {'name': 'afrin', 'age': 22, 'city': 'bangalore'}

**27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [ ]:
import random
random_list = []
for i in range(5):
  random_list.append(random.randint(1,100))
random_list.sort()
print(random_list)

[30, 41, 50, 75, 98]

**28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
my_list = ['name', 'age', 'city', 'county']
print(my_list[2])

city

**29. Write a code to combine two dictionaries into one and print the result**

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

In [ ]:
my_list = ['name', 'age', 'city','county']
my_set = set(my_list)
print(my_set)
print(type(my_set))

{'county', 'name', 'city', 'age'}
<class 'set'>